body {
	background-color: #FAFAFA;
}

a {
	color: #50637B;
}

/* Subreddit list */

#sr-header-area .dropdown.srdrop {
	margin-top: -4px;
}

#sr-more-link {
	color: #1a1a1a;
}

/* Header */

#header {
	background-color: #fc0;
	border-bottom: 1px solid #999;
}

#header img {
	vertical-align: bottom;
}

.pagename a {
	color: #1a1a1a;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 20px;
	font-variant: normal;
	letter-spacing: 1px;
	margin-left: 5px;
	text-transform: capitalize;
}

.titlebox h1 {
	margin-bottom: 6px;
}

.titlebox h1 a {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 20px;
	letter-spacing: 1px;
	text-transform: capitalize;
}

.pagename {
	letter-spacing: 1px;
}

#header-img {
	margin-left: 55px;
	margin-right: 5px;
	padding-top: 3px;
}

.tabmenu {
	display: block;
	height: 18px;
	margin: 15px 0 0 50px;
}

.tabmenu li {
	background-color: inherit;
	border: none;
	margin: 0;
	padding: 0;
}

.tabmenu li.selected a {
	background-color: #FAFAFA;
	border-bottom: 1px solid #fafafa;
	border: 1px solid #999;
	color: #1a1a1a;
}

p.nextprev {
	margin-left: 93px;
}

.tabmenu li a {
	background-color: #FAFAFA;
	border-right: 1px solid #999;
	border-top: 1px solid #999;
	font-weight: normal;
	padding: 4px 12px;
}

#header-bottom-right {
	background-color: #FAFAFA;
	border: 1px solid #999;
	border-right: none;
	border-radius: 0;
	font-size: 12px;
	height: 18px;
	margin-bottom: -1px;
	padding: 4px 10px 4px 10px;
}

span.user {
	background-color: #FAFAFA;
	vertical-align: middle;
}

span.user .userkarma {
	border-bottom: none;
	cursor: pointer;
	font-weight: normal;
}

.pref-lang {
	font-weight: normal;
}

/* Content */

#siteTable {
	margin-top: 16px;
	margin-left: 6px;
	max-width: 1020px;
}

#siteTable .thing {
	border-bottom: 1px solid #DBDBDB;
	margin: 10px 0 0;
	padding-bottom: 9px;
}

.entry {
	padding-left: 5px;
}

.link .rank {
	color: #cbcbcb;
	font-family: "Times New Roman", serif;
	font-size: 24px;
	margin: 12px 15px 0 0;
}

.link .score {
	margin-right: 1px;
}

.thing .title.loggedin {
	color: #1a1a1a;
}

.thing .title.loggedin:visited {
	color: #777;
}

.title {
	line-height: 120%;
}

.domain,
.tagline {
	color: #777;
	font-size: 11px;
}

.link .title {
	font-size: 18px;
}

.entry .buttons a.comments,
.entry .buttons a.comments .empty {
	color: #50637B;
}

/* Side bar */

.side {
	background-color: inherit;
	border: 1px solid #dbdbdb;
	border-right: none;
	border-top: none;
	padding: 16px 15px 0 15px;
	width: 258px;
}

.side .spacer {
	margin-top: 0;
}

h2 {
	color: #222;
	padding: 5px 0 5px;
}

h3 {
	border-top: 1px solid #bdbdbd;
	font-weight: normal;
	margin-top: 10px;
	padding-top: 10px;
	text-transform: uppercase;
}

#search {
	width: 100%;
}

#search input[type="text"] {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}

.titlebox form.toggle {
	background-color: inherit;
	font-size: 11px;
}

.titlebox form.toggle,
.leavemoderator {
	background-color: inherit;
}

.titlebox span.word {
	display: none;
}

.titlebox span.number:after {
	content: " typophiles";
}

.flairtoggle,
.leavemoderator,
.titlebox .age {
	font-size: 11px;
}

.infobar {
	width: 100%;
}

.sidebox .spacer {
	background-color: inherit;
}

.morelink {
	background: #fc0 none repeat-x scroll center left;
	background-image: none;
	margin-bottom: 6px;
}

.morelink a {
	color: #222;
}

.sidecontentbox .title h1 {
	color: #222;
}

.sidecontentbox .content {
	border: none;
	border-bottom: 1px solid #DBDBDB;
}

.sidecontentbox ul li {
	padding-bottom: 2px;
}

.sidecontentbox a.helplink {
	font-size: 11px;
	margin-top: 0;
}

.sidecontentbox .more {
	font-size: 11px;
}

.nub {
	display: none;
}

.md h1,
.md p {
	margin-bottom: 6px;
}

.md p {
	line-height: 150%;
}

.md ul {
	list-style-type: square;
}

.md ul li {
	padding-bottom: 5px;
}

.gadget .right,
.account-activity-box {
	font-size: 11px;
}

/* Footer */

.footer {
	border: 1px solid #bdbdbd;
	margin: 30px 15px 15px;
}

.bottommenu {
	line-height: 150%;
	margin: 4px;
}

.rounded {
	border-radius: 0;
}
