body {
	background-color: #FAFAFA;
}

/* Header */

#header {
	background-color: #ffcc00;
	border-bottom: 1px solid #999;
}

#header img {
	vertical-align: bottom;
}

.pagename a {
	color: #1a1a1a;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 20px;
	font-variant: normal;
	letter-spacing: 1px;
	margin-left: 5px; 
	text-transform: capitalize;
}

.titlebox h1 a {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 15px;
	letter-spacing: 1px;
	text-transform: capitalize;
}

.pagename {
	letter-spacing: 1px;
}

#header-img{
	margin-left: 55px;
	margin-right: 5px;
	padding-top: 3px;
}

.tabmenu {
	display: block;
	height: 18px;
	margin: 15px 0 0 50px;
}

.tabmenu li {
	background-color: inherit;
	border: none;
	margin: 0;
	padding: 0;
}

.tabmenu li.selected a {
	background-color: #FAFAFA;
	border-bottom: 1px solid #fafafa;
	border: 1px solid #999;
	color: #1a1a1a;
}

p.nextprev{
	margin-left: 93px;
}

.tabmenu li a {
	background-color: #FAFAFA;
	border-right: 1px solid #999;
	border-top: 1px solid #999;
	font-weight: normal;
	padding: 4px 12px;
}

#header-bottom-right {
	background-color: #FAFAFA;
	border-bottom: 1px solid #fafafa;
	border-radius: 0;
	border: 1px solid #999;
	font-size: 12px;
	height: 18px;
	margin-bottom: -1px;
	padding: 4px 10px 4px 10px;
}

span.user{
	background-color: #FAFAFA;
	vertical-align: middle;
}

span.user .userkarma {
	border-bottom: none;
	cursor: pointer;
	font-weight: normal;
}

.pref-lang {
	font-weight: normal;	
}

/* Content */

#siteTable {
	margin-left: 6px;
	max-width: 1020px;
}


a {
	color: #50637B;
}

.link .rank {
	color: #E7E7E7;
	font-family: "Times New Roman", serif;
	font-size: 24px;
	margin: 12px 15px 0 0;
}

.link .score {
	margin-right: 1px;
}

.entry .buttons a.comments {
	color: #50637B;
}

.thing {
	margin: 10px 0 5px 0;
}

/* Side bar */

.side {
	background-color: inherit;
	border-right: none;
	border-top: none;
	border: 1px solid #dbdbdb;
	margin: 0;
	padding-left: 20px;
	padding: 0px 20px 0 5px;
	width: 250px;
}

h2 {
	color: #1A1A1A;
	padding: 5px 0 5px;
}

#search {
	padding: 3px;
	width: 242px;
}

.titlebox form.toggle {
	background-color: inherit;
}

.titlebox form.toggle,
.leavemoderator {
	background-color: inherit;
}

.infobar {
	width: 100%;
}

.sidebox .spacer {
	background-color: inherit;
}

.nub { 
	display: none;
} 

.thing .title a {
	color: #1a1a1a !important;
}

.md ul {
	list-style-type: square;
}

.md ul li {
	padding-bottom: 5px;
}
